<!-- Include HEADER -->
<%- include('include/_header') %>
<!-- /Include HEADER -->

    <!-- Main Body -->
    <main id="site-main">
        <div class="container">
            <div class="flex-inline">
                <a href="/" class="border-shadow mtb-2">
                    <span class="p-1">
                        Pesquisar médicos
                        <i class="fas fa-user"></i>
                    </span>
                </a>
            </div>
            
            <!-- Include footer -->
            <%- include('include/_form') %>
            <!-- /Include footer -->
            
        </div>
    </main>
<!-- /Main Body -->

<script src="../assets/js/getCep.js"></script>
<script src="../assets/js/index.js"></script>
<!-- Include footer -->
    <%- include('include/_footer') %>
<!-- /Include footer -->